.detail{
    min-height: 80vh;
    background:linear-gradient(rgb(173, 175, 177),rgb(73, 73, 75));
}
.green{
    color: rgb(13, 86, 13);
}
.red{
    color: red;
}
.volver{
    color: rgb(6, 5, 82);
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

@media (max-width:768px){
    .detail-img{
        width: 100%;
    }
    .container-card{
        flex-wrap: wrap;
    }
}
@media (max-width:425px){
    .detail-img{
        width: 100%;
    }
    .container-card{
        flex-wrap: wrap;
    }
}
@media (max-width:375px){
    .detail-img{
        width: 100%;
    }
    .container-card{
        flex-wrap: wrap;
    }
}
@media (max-width:320px){
    .detail-img{
        width: 100%;
    }
    .container-card{
        flex-wrap: wrap;
    }
}
